@blue: #00214D;
@risk-red: #FF0000;

button:focus {outline:0 !important;}

h4{
	text-align: center;
}

.btn-risk{
	-webkit-transition: all 0.2s;
	background-color: white;
	color: @risk-red;
	border: @risk-red solid 1px;
	outline: 0;
}

.btn-risk.active{
	background-color: @risk-red;
	color: white;
}

.btn-risk:hover{
	 -webkit-transform: scale(1.1);
	 color: @risk-red;
}

.btn-risk.active:hover{
	 color: white;
}

.graphs{

	.bar{
		height: 200px;
		background-color: #DADCDD;
		position: relative;

		.bar-val{
			height: 0px;
			width: 100%;
			background: @risk-red;
			position: absolute;
			bottom: 0;
			left:0;
			transition : height 0.5s;
			-webkit-transition : height 0.5s;
		}
	}

	.center-circle{
		display: table;
		width: 100%;

		.circle-container{
			height: 150px;
			display: table-cell;
			vertical-align: middle;

			.circle{
				height: 120px;
				width: 120px;
				margin: 0 auto;
				border-radius: 50%;
				background-color: #DADCDD;
				position: relative;
				transition : all 0.5s;
				-webkit-transition : all 0.5s;
			}

		}
	}

	.population{
		svg{
			width: 10%;
		}

		svg.active{
			fill: @risk-red;
		}


	}

	

	.percentage{
		font-size: 20px;
		color: @risk-red;
		text-align: center;
		margin-top: 20px;
		font-weight: bold;

		.circle-percent{
			color: white;
		}
	}
}




.ng-enter{
	transition: 0.75s;
	opacity: 0;
}

.ng-enter-active{
	opacity: 1;
}