@blue: #00214D;
@risk-red: #FF0000;

#dillon{
	background: url('../img/checkboxes/icons_01-01.svg');
	height: 20px;
	width: 200px;
}

input[type=checkbox]{
    display: none;
}


label {    
    height:25px;
    width: 50px;
    padding-left: 18px;
}


label.betw{
	background: url('../img/checkboxes/icons_02-03.svg') no-repeat;
}

label.betw.selected{
	background: url('../img/checkboxes/icons_01-03.svg') no-repeat;
}

label.upto{
	background: url('../img/checkboxes/icons_02-03.svg') no-repeat;
}

label.upto.selected{
	background: url('../img/checkboxes/icons_01-03.svg') no-repeat;
}


label.congestive{
	background: url('../img/checkboxes/icons_02-01.svg') no-repeat;
}

label.congestive.selected{
	background: url('../img/checkboxes/icons_01-01.svg') no-repeat;
}

label.hypertension{
	background: url('../img/checkboxes/icons_02-02.svg') no-repeat;
}

label.hypertension.selected{
	background: url('../img/checkboxes/icons_01-02.svg') no-repeat;
}

label.diabetes{
	background: url('../img/checkboxes/icons_02-04.svg') no-repeat;
}

label.diabetes.selected{
	background: url('../img/checkboxes/icons_01-04.svg') no-repeat;
}

label.prior-stroke{
	background: url('../img/checkboxes/icons_02-05.svg') no-repeat;
}

label.prior-stroke.selected{
	background: url('../img/checkboxes/icons_01-05.svg') no-repeat;
}

label.vascular{
	background: url('../img/checkboxes/icons_02-06.svg') no-repeat;
}

label.vascular.selected{
	background: url('../img/checkboxes/icons_01-06.svg') no-repeat;
}

label.female{
	background: url('../img/checkboxes/icons_02-07.svg') no-repeat;
}

label.female.selected{
	background: url('../img/checkboxes/icons_01-07.svg') no-repeat;
}

label.abnormal-renal{
	background: url('../img/checkboxes/icons_02-08.svg') no-repeat;
}

label.abnormal-renal.selected{
	background: url('../img/checkboxes/icons_01-08.svg') no-repeat;
}

label.abnormal-liver{
	background: url('../img/checkboxes/icons_02-09.svg') no-repeat;
}

label.abnormal-liver.selected{
	background: url('../img/checkboxes/icons_01-09.svg') no-repeat;
}

label.prior-major{
	background: url('../img/checkboxes/icons_02-10.svg') no-repeat;
}

label.prior-major.selected{
	background: url('../img/checkboxes/icons_01-10.svg') no-repeat;
}


label.hx{
	background: url('../img/checkboxes/icons_02-11.svg') no-repeat;
}

label.hx.selected{
	background: url('../img/checkboxes/icons_01-11.svg') no-repeat;
}

label.current{
	background: url('../img/checkboxes/icons_02-12.svg') no-repeat;
}

label.current.selected{
	background: url('../img/checkboxes/icons_01-12.svg') no-repeat;
}

label.taking{
	background: url('../img/checkboxes/icons_02-13.svg') no-repeat;
}

label.taking.selected{
	background: url('../img/checkboxes/icons_01-13.svg') no-repeat;
}


.checkbox {
	span{
		position: relative;
		bottom: 8px;
		left: 10px;
	}
}





button:focus {outline:0 !important;}

h4{
	text-align: center;
}

.banner{
	background: #ccc;
	margin-bottom: 35px;

	.page-header{
		border:none;
		color: #fff;
		margin: 30px 0 20px;
	}
}



.btn-risk{
	-webkit-transition: all 0.2s;
	background-color: white;
	color: @risk-red;
	border: @risk-red solid 1px;
	outline: 0;
	width: 48%;
	font-weight: bold;
}

.btn-risk.active{
	background-color: @risk-red;
	color: white;
}

.btn-risk:hover{
	 -webkit-transform: scale(1.1);
	 color: @risk-red;
}

.btn-risk.active:hover{
	 color: white;
}

.graphs{

	.bar{
		height: 265px;
		background-color: #DADCDD;
		position: relative;

		.bar-val{
			height: 0px;
			width: 100%;
			background: @risk-red;
			position: absolute;
			bottom: 0;
			left:0;
			transition : height 0.5s;
			-webkit-transition : height 0.5s;
		}
	}

	.center-circle{
		display: table;
		width: 100%;

		.circle-container{
			height: 245px;
			display: table-cell;
			vertical-align: middle;

			.circle{
				height: 120px;
				width: 120px;
				margin: 0 auto;
				border-radius: 50%;
				background-color: @risk-red;
				position: relative;
				transition : all 0.5s;
				-webkit-transition : all 0.5s;
			}

		}
	}

	.population{
		svg{
			width: 10%;
			-webkit-transition: 0.5s fill;
			transition: 0.5s fill;
			height: 20px;
			fill:#dadcdd;
		}

		svg.active{
			fill:@risk-red;
		}

	}

	

	.percentage{
		font-size: 20px;
		color: @risk-red;
		text-align: center;
		margin-top: 20px;
		font-weight: bold;

		.circle-percent{
			color: white;
		}
	}
}




.ng-enter{
	transition: 0.75s;
	opacity: 0;
}

.ng-enter-active{
	opacity: 1;
}


/* Extra small devices (phones, less than 768px) */
@media(max-width:767px){
	h4{
		font-size:9px;
	}

	.risk{
		button{
			margin:0 auto 20px;

		}
	}

}

/* Small devices (tablets, 768px and up) */
@media(min-width:768px){
	.selections{
		background: none;
	}

	h4{
		margin-bottom: 30px;
	}

	.risk{
		button{
			margin-bottom:30px;
		}
	}

	.btn-risk{
		width: 100%;
		margin-bottom: 40px;
		font-size: 18px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media(min-width:992px){
	.selections{
		height: 578px;
	}

	.btn-risk{
		width: 48%;
		margin-bottom: 0px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px){
	.selections{
		background: url('../img/divider.png') no-repeat;
		background-position: right 45px top;
	}
}