<div class="row">
				
	<div class="col-sm-4 selections">
<!-- 
		<div id="dillon"></div>


		<img src="img/checkboxes/icons_01-01.svg" alt=""> -->

		<div class="checkbox" ng-repeat="condition in conditions">
		  <label ng-class="{'selected':condition.selected}" class="{{condition.cla}}">
		    <input type="checkbox" name="selectedConditions[]" value="{{condition.name}}" ng-model="condition.selected" >
		    
		  </label>
		  <span>{{condition.name}}</span>
		</div>

		<!-- <div>
			<label for="">
				<input type="range" name="points" min="1" max="80">
				Age
			</label>
		</div> -->

	</div>

	

	<div class="col-sm-8 risk">

		<button type="button" class="active btn btn-risk">Risk of Ischaemic Stroke,<br>
		ICH and SEE per 5 Years %
		</button>

		<button type="button" class="btn btn-risk pull-right">Risk of Major Bleeds<br>
			per 5 Years %</button>
		
	</div>


	<div class="clearfix visible-xs-block"></div>
	<div class="clearfix visible-sm-block"></div>
		
			

	<div class=" graphs" style="margin-top:20px;height:450px" ui-view></div>


	
		
	


	<div class="col-md-6 " style="margin-top:43px">
		<span>Visualization options</span>

		<button type="button" class="btn btn-link" ui-sref=".population">Population</button> | 
		<button type="button" class="btn btn-link" ui-sref=".bars">Bars</button> | 
		<button type="button" class="btn btn-link" ui-sref=".relative">Relative</button>
	</div>




	

</div>