

	<div class="col-md-2 col-md-offset-1">
		<h4>No Therapy</h4>
		<div class="bar">
			<img src="img/man-figure.png" alt="">
			<img src="img/man-figure.png" alt="">
			<img src="img/man-figure.png" alt="">
			<img src="img/man-figure.png" alt="">
			<img src="img/man-figure.png" alt="">
			<img src="img/man-figure.png" alt="">
		</div>
		<p class="bar-percent percentage">3.7%</p>
	</div>

	<div class="col-md-2 col-md-offset-1">
		<h4>Aspirin</h4>
		<div class="bar">
			<img src="img/man-figure.png" alt="">
			<img src="img/man-figure.png" alt="">
			<img src="img/man-figure.png" alt="">
			<img src="img/man-figure.png" alt="">
			<img src="img/man-figure.png" alt="">
			<img src="img/man-figure.png" alt="">
		</div>
		<p class="bar-percent percentage">3.7%</p>
	</div>

	<div class="col-md-2 col-md-offset-1">
		<h4>VKA</h4>
		<div class="bar">
			<img src="img/man-figure.png" alt="">
			<img src="img/man-figure.png" alt="">
			<img src="img/man-figure.png" alt="">
			<img src="img/man-figure.png" alt="">
			<img src="img/man-figure.png" alt="">
			<img src="img/man-figure.png" alt="">
		</div>
		<p class="bar-percent percentage">3.7%</p>
	</div>

	<div class="col-md-2 col-md-offset-1">
		<h4>NOAK</h4>
		<div class="bar">
			<img src="img/man-figure.png" alt="">
			<img src="img/man-figure.png" alt="">
			<img src="img/man-figure.png" alt="">
			<img src="img/man-figure.png" alt="">
			<img src="img/man-figure.png" alt="">
			<img src="img/man-figure.png" alt="">
		</div>
		<p class="bar-percent percentage">3.7%</p>
	</div>
	
