

	<div class="col-md-2 col-md-offset-1 col-xs-3">
		<h4>No Therapy</h4>
		<div class="bar">
			<div class="bar-val" style="height: {{probabilityStroke.noTherapy | number:1}}%"></div>
		</div>
		<p class="bar-percent percentage">{{probabilityStroke.noTherapy | number:1}}%</p>
	</div>

	<div class="col-md-2 col-md-offset-1 col-xs-3">
		<h4>Aspirin</h4>
		<div class="bar">
			<div class="bar-val" style="height: {{probabilityStroke.aspirin | number:1}}%"></div>
		</div>
		<p class="bar-percent percentage">{{probabilityStroke.aspirin | number:1}}%</p>
	</div>

	<div class="col-md-2 col-md-offset-1 col-xs-3">
		<h4>VKA</h4>
		<div class="bar">
			<div class="bar-val" style="height: {{probabilityStroke.vka | number:1}}%"></div>
		</div>
		<p class="bar-percent percentage">{{probabilityStroke.vka | number:1}}%</p>
	</div>

	<div class="col-md-2 col-md-offset-1 col-xs-3">
		<h4>NOAK</h4>
		<div class="bar">
			<div class="bar-val" style="height: {{probabilityStroke.noak | number:1}}%"></div>
		</div>
		<p class="bar-percent percentage">{{probabilityStroke.noak | number:1}}%</p>
	</div>
	
